/* ----------------- */
/* Custom Properties */
/* ----------------- */

:root {
    /* primary colors*/
    --strong-cyan: hsl(172, 67%, 45%);

    /* neutral colors */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --darker-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --lighter-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

/* ----------------- */
/* Reset             */
/* ----------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--light-grayish-cyan);
    color: var(--darker-grayish-cyan);
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* 1rem = 16px */

header img {
    margin: 0 auto;
    padding: 2.5rem;
}

.calculator-container {
    background: var(--white);
    border-radius: 25px 25px 0 0;
    width: 375px;
    margin: 0 auto;
    padding-bottom: 1.8rem;
}

.inputs-container {
    margin: 0 2rem;
    position: relative;
}

/* utility class? */
h1,
h2,
h3 {
    font-size: 16px;
    padding: 2rem 0 .5rem 0;
}

/* component class? */
#bill,
#num-people {
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--lighter-grayish-cyan);
    display: block;
    width: 100%;
    height: 48px;
    text-align: right;
    padding-right: 1rem;
    font-weight: 700;
    font-size: 24px;
}

#bill:focus, #num-people:focus {
    border: 2px solid var(--strong-cyan);
}

.icon-dollar,
.icon-person {
    position: relative;
    top: -32px;
    left: 20px;
}

button {
    width: 146px;
    height: 48px;
    background: var(--very-dark-cyan);
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    color: var(--white);
    border: none;
    margin-bottom: 1rem;
}

.percent-button:hover {
    cursor: pointer;
    background: #9FE8DF;
}

.clicked {
    background: #26C2AE;
    color: #00474B;
}

#custom {
    width: 146px;
    height: 48px;
    border: none;
    background: var(--lighter-grayish-cyan);
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    color: var(--very-dark-cyan);
    outline: none;
}

#custom:hover, #bill:hover, #num-people:hover {
    cursor: pointer;
    border: 2px solid var(--strong-cyan);
}

/* error: can't be zero */
#num-people.error {
    border: 2px solid #E17052;
}

.num-error {
    color: #E17052;
    font-weight: 700;
    font-size: 1rem;
    position: absolute;
    left: 182px;
    bottom: 72px;
    visibility: hidden;
}

/* calculations section */
.calculations-container {
    background: var(--very-dark-cyan);
    margin: 0 24px;
    width: 327px;
    height: 257px;
    border-radius: 15px;
}

#reset {
    width: 281px;
    height: 48px;
    background: var(--strong-cyan);
    color: var(--very-dark-cyan);
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 22px;
    opacity: 0.35;
}

.tip-amount-container {
    padding: 2.3rem 1.3rem 1.2rem 1.3rem;
}

.total-container {
    padding: 0 1.3rem 1.9rem 1.3rem;
}

/* grid */
.tip-amount-container, .total-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.tip-amount, .total {
    color: var(--white);
    grid-area: 1/1/2/2;
}

.small-display {
    font-size: 13px;
    color: var(--dark-grayish-cyan);
    grid-area: 2/1/3/2;
}

#tip-value, #total-value {
    font-weight: 700;
    font-size: 32px;
    color: var(--strong-cyan);
    grid-area: 1/2/3/3;
    justify-self: end;
}

/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/******** Desktop Layout */

@media (min-width: 1080px) {
    .calculator-container {
        display: flex;
        justify-content: center;
        gap: 48px;
        width: 920px;
        height: 481px;
        border-radius: 25px;
        padding: 0;
    }

    .inputs-container {
        width: 379px;
        height: 388px;
        margin: 0;
    }

    .percent-button, #custom {
        width: 117px;
    }

    #bill, #num-people {
        width: 379px;
    }

    .num-error {
        left: 244px;
        bottom: 11px;
    }

    .calculations-container {
        width: 413px;
        height: 417px;
        margin: 0;
        padding: 0;
        align-self: center;
        position: relative;
    }

    #tip-value, #total-value {
        font-size: 48px;
    }

    #reset {
        width: 333px;
        position: relative;
        top: 101px;
        left: 18px;
    }
}


